<<<<<<< HEAD


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}
=======


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}
>>>>>>> 1505aa24dbf61226c00c70103f3e6b81f7bf0658
